body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,220);
}

header {
    background-color: rgb(169, 149, 123);
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: rgb(169, 149, 123);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

